html,
body {
    margin: 0;
}

* {
    --padding-x-section: 7%;
    --padding-y-section: 100px;
}

body {
    font-family: monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}


header {
    position: sticky;
    top: 0;
    border-bottom: .5px solid rgba(0, 0, 0, .3);
}

nav {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px var(--padding-x-section);
}

.nav-logo {
    font-size: 20px;
    font-weight: 700;
}

.nav-links ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

footer span {
    border-bottom: 2px solid white;
    color: white;
    padding: 2px 2px;
}

.hero {
    padding: var(--padding-y-section) var(--padding-x-section);
    display: flex;
    gap: 50px;
    background-color: #1F2937;
    color: white;
}

.hero-title, 
.hero-img {
    flex-basis: 50%;
}

.hero-img {
    overflow: hidden;
    border-radius: 10px;

}
.hero-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transform: scale(1.5);
}

.hero .title {
    font-size: 32px;
    margin-bottom: 0;
}

.hero button {
    background-color: #3883F6;
    color: white;
    padding: 7px 20px;
    border-radius: 7px;
    border: none;
}

.hero div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 20px;
}